/* Small devices screen 576 and above */
@media (min-width:576px) {
 #hairstyles ul {
   justify-content: center;
 }
}

/* Small devices screen 768 and above */
@media (min-width: 768px) {
    .sub-hero h2 {
    max-width: 550px;
    margin: 0 auto;
    }

    #contact h3 {
        max-width: 400px;
    }

    #contact form {
        width: 300px;
    }
 }