*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make video, img and audio tag to take 100% of the screen */
img, 
video, 
audio{
    max-width: 100%;
}

nav {
    background-color: orange;
    padding: 16px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 12px;
}

.hero h1 {
    font-size: 40px;
    text-align: center;
}

/* Sub hero section */
.sub-hero {
    margin-top: 60px;
    background-color: orange;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-hero h2 {
    text-align: center;
    font-size: 25px;
}

.sub-hero h2 span {
    color: dodgerblue;
}


.sub-hero img {
    border-radius: 8px;
}

/* Hairstyles Section */
#hairstyles {
    margin: 60px auto 8px auto;
    padding: 0px 20px;

}

#hairstyles h2 {
    text-align: center;
    color: orange;
    margin-bottom: 20px;

}

#hairstyles ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*Pricing Section */
#pricing {
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
    display: flex;
    padding: 0px 20px;

}

#pricing h2 {
    text-align: center;
    color: orange;
}

#pricing table {
    border-collapse: collapse;
}

#pricing table th, td {
    border: 1px solid orange;
    text-align: center;
    padding: 8px;
    width: 50%;
   
}

#pricing table tr:nth-child(even) {
    background-color: #dddd;
}

/* Media Section */
#media {
    background-color: orange;
    padding: 60px 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#media h2 {
    text-align: center;
    color: orange;
}

#media h4 {
    color: white;
}

/* About Section */
#about {
    margin-top: 60px;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-direction: column;   
}

#about h2 {
    color: orange;
}

#about p {
    font-size: 20px;
}